body{
    background-color: #f7e1e8;

}
h1{
    text-align: center;
    color: #ffafcc;
    font-size: 48px;
    margin-bottom: 12px;
    font-family:'Times New Roman', Times, serif;}
    button{
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: #f7e1e8;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #ffafcc;
       

    }