body{
    background-color: aliceblue;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0b3c5d;
    text-align: center;
    font-size: 50px;
    
}
h2{
    text-align: center;
}
p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
}
nav{
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    width: 20%;
    height: 120%;
    float: left;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin: 20px 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;

}
nav a:hover {
    text-decoration: underline;
}
img{
   display: block;
    margin: 0 auto;
}
main {
    float: left;
    width: 400px;
    }