h1{
    text-align: center;
    color: #ffafcc;
    font-size: 48px;
    margin-bottom: 12px;
    font-family:'Times New Roman', Times, serif;
}
    a {
        padding: 90px;
        color: #f7e1e8;
        text-decoration: none;
        font-weight: 500;
    }
body{
    background-color: #f7e1e8;
}
img{
    height: 600px;
    
}
div{
    width: 60%;
    margin: auto;
    text-align: center;
}
.caption {
    text-align: center;
    font-size: 18px;
    color: #FFAFFC;
    margin-top: 8px;

}
p{
    font-family: 'Times New Roman', Times, serif;
    color: #FFAFFC;
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.5;
    
}
.side-paragraphs p{
    float: left;
    width: 50%;
}
nav {
    text-align: center;
}
nav a {
padding: 0px 50px;
background-color: #ffafcc;
}
nav a:hover{
    background-color: #f7e1e8(12, 153, 12);
}