h1{
    text-align: center;
    color: #8b553c;
    letter-spacing: 2px;
}
body{
    background-color: #f7ede2;
}
hr{
border-color: #d4af37;

}
img {
display: block;
margin-left: auto;
margin-right: auto;
}
p {
    text-align: center;
    font-size: 16px;
    color: #8b553c;
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}