h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 
}
section.top{
background-color: azure;
height: 500px;
text-align: right;
}
section.top h2, section.top img{
    float: left;
     padding: 0px 100px;
    
}
section.bottom h2, section.bottom img{
    float: right;
    padding: 0px 100px;
}
div.diagonal{
    clear: both;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid rgb(244, 208, 225);
    margin-top: -13.9vw;

}
section.bottom{
    background-color: rgb(244, 208, 225);
    height: 500px;
    text-align: right;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
img{
 height: 250px;

}
h1.center{
    margin: auto;
    position: absolute;
    font-size: 15em;
    top: 30vh;
    left: 40vw;
}

