
body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  padding: 15px 0;
}

.logo {
  height: 60px; /* adjust size */
}

body{
background-color: #f8f8f8;
}
h1{
text-align: center;
}
nav{
color:#5f7f76 ;
}
.custom-navbar {
  background-color: #5f7f76; /* your green */
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white;
}

.custom-navbar .nav-link:hover {
  color: #e0e0e0;
}
    .location-header {
      background: url('your-image.jpg') center/cover no-repeat;
      height: 300px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .overlay {
      background: rgba(0,0,0,0.5);
      padding: 20px;
      border-radius: 10px;
    }
    .hero {
      background: url('about-image.jpg') center/cover no-repeat;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .overlay {
      background: rgba(0,0,0,0.5);
      padding: 20px 40px;
      border-radius: 10px;
    }

    .section-padding {
      padding: 60px 0;
    }
    img{
      width: 100%;
    }
    .food-card{
      position: relative;
      padding-top: 70px;
      text-align: center;
      color: white;
      min-height: 360px;
    }

    .food-card img{
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: -65px;
      left: 50%;
      transform: translateX(-50%);
      border: 6px solid white;
    }

    .card-1{
      background: #d2b49c;
    }

    .card-2{
      background: #7a8360;
    }

    .card-3{
      background: #8b6b5a;
    }

    .food-content{
      padding: 80px 25px 30px;
    }

    .food-title{
      font-size: 28px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .food-text{
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 25px;
    }

    .menu-btn{
      color: white;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .menu-btn:hover{
      color: #eee;
    }