body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7e1e8;
  color: #ffafcc;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.0;
}
h1{
    text-align: center;
}
h2{
    color: #FFAFFC; 
    padding-left: 10px;
    font-size: 28px;
    border-left: 6px solid #ffafcc;
}